
body {
  background-color: #121212;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
}
header {
  background-color: #004400;
  color: #00ff00;
  padding: 10px;
  font-weight: bold;
  border-bottom: 3px solid #00aa00;
}
a {
  color: #33ff33;
}
a:hover {
  color: #00aa00;
  text-decoration: underline;
}
