
body {
  background-color: #1a1a1a;
  color: #ffffcc;
  font-family: "メイリオ", Meiryo, sans-serif;
}
header {
  background-color: #ff9900;
  color: #1a1a1a;
  padding: 10px;
  font-weight: bold;
  border-bottom: 4px solid #cc7a00;
}
a {
  color: #ffcc33;
}
a:hover {
  color: #ff9900;
  text-decoration: underline;
}
